<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.advantest.ate.sampleview.SampleView"
            id="com.advantest.ate.sampleView.TreeView"
            name="Sample View"
            restorable="true">
      </view>
   </extension>

</plugin>
